/* Estilo delicado para o link transformado em botão */
/* .dash-link {
    text-decoration: none;
    color: #09AC96;             
    border: 2px solid #09AC96;   
    border-radius: 8px;        
    padding: 8px 16px;
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block;
    transition: all 0.3s ease;  
  } */
  
  /* Efeito de destaque ao passar o mouse ou focar */
  /* .dash-link:hover,
  .dash-link:focus {
    background-color: #09AC96;  
    color: #fff;                
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
    transform: translateY(-2px); 
  } */


  .dash-link {
    text-decoration: none;  /* Cor base azul */
    border-radius: 6px;         
    padding: 8px 16px;
    font-weight: 500;
    font-size: 0.9rem;
    display: inline-block;
    transition: all 0.3s ease;
    background-color: #09AC96;  
    color: #fff;
    align-self: center;
    margin-top: 11px;
  }

  
  /* Efeito de destaque ao passar o mouse ou focar */
  .dash-link:hover,
  .dash-link:focus {
    background-color: #FAFAFA;   /* Preenche com azul ao passar o mouse */
    color: #09AC96;
    border: 1px solid #09AC96;              /* Texto em branco quando o fundo é azul */
    box-shadow: 0 4px 8px rgba(12, 174, 152, 0.4); /* Sombra leve para dar profundidade */
    transform: translateY(-2px); /* Leve elevação para evidenciar interação */
  }
