/* Container geral */
.upa-stats-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  min-height: 100vh;
}



/* Header do dashboard */
.stats-header {
  text-align: center;
  margin-bottom: 30px;
}
.stats-header h1 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}
.stats-header p {
  margin: 5px 0 0;
  color: #555;
}

/* KPIs principais (cartões) */
.stats-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}
.stats-card {
  background: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.stats-card h2 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 10px;
}
.stats-value {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
}
.stats-label {
  color: #333;
  font-size: 1rem;
}
.stats-wait {
  font-size: 1rem;
  color: #333;
  margin-top: 5px;
}
/* Cores */
.stats-card-blue   { background: #92c6f7; }
.stats-card-green  { background: #88ebb4; }
.stats-card-yellow { background: #ecdc94; }
.stats-card-red    { background: #faa3a3; }

/* Seção de gráficos */
.stats-charts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-bottom: 40px;
  justify-self: center;
}
@media (min-width: 846px) {
  .stats-charts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 475px) {
  .chart-card {
    width: 24rem;
  }
}

@media (max-width: 768px) {
  /* .stats-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  } */
  .back-link{
    padding: 6px 12px;
    font-size: 0.75rem;
  }
}


.chart-card {
  background: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  width: 28rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.chart-card h3 {
  margin-top: 0;
  color: #333;
  margin-bottom: 10px;
}

/* Footer */

.back-link {
  text-decoration: none;
  background-color: #09AC96;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  padding: 6px 14px;
  font-weight: 500;
  font-size: 0.8rem;
  display: inline-block;
  transition: all 0.3s ease;
}

.back-link:hover, .back-link:focus {
    background-color: #FAFAFA;   /* Preenche com azul ao passar o mouse */
    color: #09AC96;
    border: 1px solid #09AC96;              /* Texto em branco quando o fundo é azul */
    box-shadow: 0 4px 8px rgba(12, 174, 152, 0.4); /* Sombra leve para dar profundidade */
    transform: translateY(-2px); /* Leve elevação para evidenciar interação */
  }